/*
    CSS 주석
    어디에{무엇을: 어떻게}

    px : 픽셀, 고정형 크기
    https://color.adobe.com/ko/trends 색 테마
    https://noonnu.cc/ 눈누 무료한글폰트

*/
@font-face {                            /* from 눈누 */
    font-family: 'WavvePADO-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.title{
    font-family: "궁서체";          /* 글꼴 : 사용자 PC에 설치된 글꼴 */
    font-size: 30px;              /* 글꼴크기 */
    font-style: italic;           /* 기울기 */
    font-weight: bold;            /* 진하게 : h마크업 기본값 */
    text-align: center;
}

.content{
    font-family: "WavvePADO-Regular";         /* 웹폰트 : 웹 서버에서 불러오는 폰트, ex)눈누 한글 무료폰트 */
    color: gold;                            /* 글자 색 */
    word-spacing: 5px;                        /* 단어간격 : 어간 */
    letter-spacing: 10px;                     /* 자간 */
    line-height: 160%;                        /* 줄간격 일반적 150~180% */
}

#writer{
    text-align: center;                           /* 텍스트/컨텐츠 가로 정렬: left(기본값)/center/right */
    text-decoration: overline underline aqua;   /* 텍스트 선긋기 underline 밑줄 overline 윗줄 line-through 취소선 */
    text-shadow: 3px -3px 3px grey;             /* 텍스트 그림자 1. 좌우 -+ 2. 상하 -+ 3. 뿌옇게 */

    color: blue;                                 /* 1. 색상이름 2. 헥사코드(16진수) 3. RGB색상 (255,255,255) */
    color: #6060aa;
    color: rgb(0,0,255);
}