.book {
    width: 300px   /*이미지 크기*/
}

.number {
    font-size: 35px;
    color: orange;
}

.textbox {
    background-color: rgb(0, 110, 110);
    color: white;
    width: 500px;
    padding: 20px;
}

.highlight {
    font-weight: bold;
    color: orange;
}

/* 
    ol li 글머리 지우기
    list-style-type: none;
*/