/* 기본값 여백 제거하기 

   * { padding: 0; margin: 0; }
*/

.pine {
    width: 300px;
}

.pictbox {
    text-align: center;
}

.borderline, td {
    border: 1px solid gainsboro;
    border-collapse: collapse;
    width: 400px;
    padding: 10px;
}

.price {
    font-weight: bold;
}

.highlight {
    color: orange;
    font-weight: bold;
}