#popup {
    background-color: cornflowerblue; color: white;
    border: 2px solid bisque; border-radius: 10px;
    width: 200px; height: 200px;
    position: fixed;                /*디바이스 특정 위치에 고정*/
    bottom: 100px; right: 100px;
    z-index: 2;
}


#header {
    display: flex;
    border-bottom: 2px solid grey;
    background-color: white;
    position: sticky;               /* 해당 구역이 가려질 때 위치고정 */
    top: 0px;                         /* 상단에 고정 */
    z-index: 3;
}

.logo { 
    width: 100px; height: 100px; 
    background-color: chartreuse;
}

#header > ul {
    display: flex;
}

.background {
    background-color: burlywood;
    width: 800px; height: 800px;
    position: relative;             /* 하위 absolute 기준점 */
    margin: 0 auto;
}

.box {
    width: 100px; height: 100px;
    border-radius: 10px;
    background-color: yellow;
    position: absolute;             /* 가장 가까운 부모 relative 기준 */
    text-align: center;
}

.box > p { margin: 35px;}

.box1 { top: 100px; left: 350px; }

.box2 { top: 250px; left: 550px; }

.box3 { top: 450px; left: 550px; }

.box4 { top: 600px; left: 350px; }

.box5 { top: 450px; left: 150px; }

.box6 { top: 250px; left: 150px; }


#footer {
    height: 500px;
    background-color: darkcyan;
}